<body>
    <h1>Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@book, local: true do |f| %>
<form class="edit_book" id="edit_book_281758" action="/books/281758" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch"><input type="hidden" name="authenticity_token" value="16oLUqicFfXDKaubLuon7m+++RXuuBL3VeJvrUehXJlMvg3sWmbbTonCZcvuF6uIXlSbYT/uqgRhP89GiXysJQ==">

  <div class="field">
    <label for="book_title">Title</label>
     <%= f.text_field :title %>
  </div>

  <div class="field">
    <label for="book_body">Body</label>
      <%= f.text_area :body %>

  </div>

  <div class="actions">
     <%= f.submit 'Update Book' %>
</form>

<td> <%= link_to "show",book_path(@book.id) %> </td>
<td> <%= link_to "back",book_path(@book) %> </td>

<% end %>
</body>